<% @page_title = "CSP Violation" %>

<p>This should have generated a Content-Security-Policy violation report.</p>

<script src="https://maxcdn.bootstrapcdn.com"></script>

<p><a href="<%= path(@application) %>">Return to application page</a><p>
